:root{
    /* bg color */
    --bg-primary-color: #242323;
    --bg-secondary-color: #1e1e1e;
    --bg-active-color:rgb(217, 217, 217);

    /* textc olor */
    --text-primary-color: #ffffff;
    --text-secondary-color: #b3b3b3;
    --text-active-color: #000000;
    

    /* font color */
    --font-primary-color: #ffffff;
    --font-secondary-color: #b3b3b3;
    --font-active-color: #000000;

    /* accent color */
    --accent-color: #ff6f61;

    /* border-size */
    --border-size: 0.1rem;

    /* padding-size */
    --padding-sm:0.5rem;
    --padding-md:1rem;
    --padding-lg:1.5rem;
    --padding-xl:2rem;

    /* margin-color */
    --margin-sm:0.5rem;
    --margin-md:1rem;
    --margin-lg:1.5rem;
    --margin-xl:2rem;

    /* flex/guttoer */
    --gutter-sm:0.5rem;
    --gutter-md:1rem;
    --gutter-lg:1.5rem;
    --gutter-xl:2rem;

    /* font-size */
    --font-sm:0.875rem;
    --font-md:1rem;
    --font-lg:1.25rem;
    --font-xl:1.5rem;

    /* border-radius */
    --border-radius-sm:0.25rem;
    --border-radius-md:0.5rem;
    --border-radius-lg:0.75rem;
    --border-radius-xl:1rem;
    
}